@model MVCApp.Models.HotelBookingModel

<h1>Hotel Booking properties</h1>
<p>Id : @Model.Id</p>
<p>GuestName : @Model.GuestName</p>
<p>DateStart : @Model.DateStart</p>
<p>DateEnd : @Model.DateEnd</p>
